<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      IBS AI Lab Demo App

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <h3><a href="mailto:sales@ibs.bg">Contact Us!</a></h3>
    </ion-item>
    <ion-item>
      <h3>Team</h3>
    </ion-item>
    <ion-item>
      <a href="mailto:d.atanasov@ibs.bg">Deyan Atanasov - Lead Engineer</a>
    </ion-item>
    <ion-item>
      <a href="mailto:k.arnaudova@ibs.bg">Kristina Arnaudova - AI Lab Manager</a>
    </ion-item>
  </ion-list>
</ion-content>