<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Take a picture with AI</ion-card-subtitle>
      <ion-card-title>Just shoot a picture and let IBS AI do its magic</ion-card-title>
    </ion-card-header>

  </ion-card>
  <ion-button color="success" (click)="takePhoto()">
    <ion-icon name="camera"></ion-icon> Take a Photo
  </ion-button>
</ion-content>